# Ignore data files
data/

# Ignore output directories
quality_check_reports/
assembly_output/
mapping/
polishing/
bandage_output/
# Ignore environment files
envs/
.ipynb_checkpoints
.virtual_documents
.snakemake
# Ignore temporary files
*.tmp
*.temp

#other files
try.sh
